## Lambda | Filter in Functions

## 1.Filter()
#icerisinde verilen Iterable data'lardaki True ifadeleri dondurur, filtreler

#Filter() icerisine (None, Iterable-Data, veya Fonks) yazilir

In [1]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [2]:
filter(None, "hello")

In [1]:
type(filter(None, "hello"))

filter

In [3]:
list(filter(None, "hello"))

['h', 'e', 'l', 'l', 'o']

In [4]:
list(filter(None, [1,2,0,3.14, True, False, 0.0, "Techpro"]))   # sadece True degerleri getirir, False degerleri eler

[1, 2, 3.14, True, 'Techpro']

In [5]:
def find_odds(x):
    if x % 2:
        return True     # If x is odd (remainder; when divided by 2 is non-zero), return True
    else:
        return False    # If x is even (remainder when divided by 2 is zero), return False

In [8]:
find_odds(6)

False

In [9]:
list(filter(find_odds, [1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [10]:
def find_evens(x):

    if x % 2:
        return False    # x % 2 != 0 ise False return eder
    else:
        return True     # filter fonk. True degerler ile calisir, bulmak istenilen ifadelerin True return etmesini saglamaliyiz

In [11]:
tuple(filter(find_evens, [0,1,2,3,4,5,6,7,8,9]))

(0, 2, 4, 6, 8)

In [3]:
isimler_listesi = ["Serhat", "sedat", "Metehan", "Bahar", "cennet", "Bilge" ]

In [14]:
def len_5(x):

    if len(x) == 5: 
        return True

In [16]:
list(filter(len_5, isimler_listesi))    # isimler lsitesindeki 5 elemanli(harfli) iterable degerleri getirir => fonksiyona gore true donduren ifadeler

['sedat', 'Bahar', 'Bilge']

In [2]:
def find_armstrong_2(x):
    
    x = str(x)

    uzunluk = len(x)

    if int(x) == sum([int(i) ** uzunluk for i in x]):
        return int(x)

In [4]:
find_armstrong_2(153)

153

In [19]:
list(filter(find_armstrong_2, range(10,100001)))    # 10 ile 100001 arasindaki sayilari ele alir ve find_armst_2 fonk gore true dondurenleri getirir

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]

## 2.Lambda()

In [20]:
def kareler_toplamı(x, y): 
    return x **2 + y ** 2

In [21]:
kareler_toplamı(3,4)

25

In [ ]:
# kareler_toplami() gibi olusturulan normal fonks'lar istenildigi zaman call edilir ve kullanilabilir
# Ayrica kullanilmasa bile bir kez calistirildiktan sonra del yapilmadigi surece bellekte yer kaplamaya devam eder

# Lambda() fonks ise kullan-at mantiginda calisir, tek satirda en son deger atamasi da yapilarak her calistirmaya karsi bir kereligine calisir

In [26]:
# Lambda fonks syntax:

lambda x,y,z: x ** 2 + y **2 +z**2

In [23]:
(lambda x,y: x**2 + y**2)(3,4)  # 3 ve 4 degerleri x, y icin;

25

In [1]:
(lambda x: len(x) == 5)("sedat")    # x =>"sedat" stringinin length i 5'e esit ise True dondurur

(<function __main__.<lambda>(x)>, 'sedat')

In [28]:
(lambda x: len(x) == 5)("seda")

False

In [2]:
isimler_listesi

NameError: name 'isimler_listesi' is not defined

In [4]:
list(filter(lambda x: len(x) == 5, isimler_listesi))

['sedat', 'Bahar', 'Bilge']

In [31]:
tuple(filter((lambda x: len(x) == 5), isimler_listesi))

('sedat', 'Bahar', 'Bilge')

In [32]:
set(filter((lambda x: len(x) == 5), isimler_listesi))

{'Bahar', 'Bilge', 'sedat'}

In [22]:
dictList = dict(enumerate(isimler_listesi))
dictList

{0: 'Serhat', 1: 'sedat', 2: 'Metehan', 3: 'Bahar', 4: 'cennet', 5: 'Bilge'}

In [24]:
(list(map(lambda x: x** len(dictList.values()[x]),dictList)))  # dict ile calismadi

TypeError: 'dict_values' object is not subscriptable

In [34]:
# lambda ile icerisine aldigi string ifadeyi tersten yazdirin

(lambda x: x[::-1])("safa")     # x= "safa" icin; x[start:stop:yon/Artis]

'afas'

In [35]:
# polindrom: tersten ve duzden okunusu ayni olan ifadeler

(lambda x: x[::-1])("ey edip adanada pide ye")

'ey edip adanada pide ye'

In [36]:
(lambda x: x[::-1] == x)("ey edip adanada pide ye")     # ifadenin tersten yazilisi kendisine isit ise Polindrom dur

True

In [38]:
(lambda x: x[::-1] == x)("appa")

True

In [ ]:
# pandas librarly import etmek icin ==> "import pandas as pd" yazilir ve calistirilir
# hata veriyor ise install edilmelidir ilk once; indstall etme icin farkli syntax'ler; birbiri yerine kullanilabilir
#   pip install pandas
#   !pip install pandas 
#   conda install pandas

In [39]:
import pandas as pd     #pandas call edecegimiz zaman verdigimiz isim ile "pd" call edebiliriz

C:\Users\Duygu Jones\AppData\Local\Temp\ipykernel_5684\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [40]:
pip install pandas  # zaten var oldugunu dondurdu

Requirement already satisfied: pandas in c:\users\duygu jones\appdata\local\programs\python\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\duygu jones\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\duygu jones\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\duygu jones\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\duygu jones\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\duygu jones\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# lambda real Data analizinde nasil kullanilir; ORNEK

#1. data analiz icin pandas library import edilir ---> import pandas as pd
#2. analiz edilecek data dosyasinin okunmasi icin gerekli code syntax yazilir ve dosya tanimlanir ==> df = pd.read_csv("adult_eda.csv") ==> csv: virgullerle ayrilmis datalardan olusan dosya uzantisidir, excel gibi gorunur fakat sutunlar inactive dir virgullerle datalari siralar 
#3. dosyadaki data sutunlari incelenmesi icin dosya degiskeni ile birlikte call edilir ---> df.age
#4. duzenlenecek veya degisitirilecek datalar tanimlanir - lambda fonk ile bellekte yer kaplamadan bir kerede datalar temizlenebilir
    # --->

In [ ]:
import pandas as pd         # pandas bir Data Analysis Library dir --> pd seklinde kullanilabilir farkli bir isimde verilebilir

In [44]:
df = pd.read_csv("adult_eda.csv")   # csv(comma seperated values) uzantili dosyayi okumasi icin bu dosyayi burada workspacedeki calistigimiz ayni klasor icine almaliyiz gormesi icin

In [45]:
df  # dosyayi call edebiliriz artik

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [46]:
df.sex      # Female ve Male degiskenleri birden fazla code ile tanimlanmis sadece 0 ve 1 seklinde tanimlamak icin;

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [47]:
df.sex.apply(lambda x:0 if x == "Male" else 1)  # if x=="Male" ise x:0 degerini ver----> diger durumlarda x:1 degerini ver

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [48]:
(lambda x: x**2 if x%2==1 else x*2)(20)    # lambda code dizilimi

40