#TUPLE

In [ ]:
#immutable / degistirilemez
#Iterable  / sayilabilir

#tuple() fonskiyonu icine sadece tek 1 argument alir ve aldigi string i listeye cevirir

# list() lerden tek farki immutable olmasidir; List'ler mutable yani degistirilebilir fonksiyoneldir
#Tuple lar List'lere gore bu nedenle daha hizlidr ve guvenlidir, saklanan datalarin direk olarak degistirilmesine izin vermez
#collection type lar icinde en guvenli olandir

In [1]:
tuple("Techpro")    #fonksion olarak kullanilabilir ve icine yazilan sadece 1 adet ITERABLE elemani liste haline getirir

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [1]:
tuple("Duygu","Appa")   #--> sadece 1 adet ITERABLE argument kabul eder

TypeError: tuple expected at most 1 argument, got 2

In [6]:
tuple_1= ("Techpro", 3, 3.8, False, [1,2,3]) #liste olarak olusturuldugunda elemanlr arasina "," ile ayrilir ve 1 den fazla eleman alabilir bu sekilde
tuple_1

('Techpro', 3, 3.8, False, [1, 2, 3])

In [2]:
tuple(12345)    # int iterable olmadigi ivin list() fonsiyonu gibi hata verir

TypeError: 'int' object is not iterable

In [3]:
name="Duygu"    #String bir degisken atayalim
tuple(name)     #degiskenin icindeki eleman Iterable ise Tuple a cevirir---> HEr bir karakteri eleman haline getirir

('D', 'u', 'y', 'g', 'u')

In [5]:
tuple_2 =("Techpro",3, 3.14, False, [1,2,3])    #Tuple liste gorunumunde (,) ile assgin ettgimizde icine her turden istedigimiz kadar eleman ekleyebilriz
tuple_2

('Techpro', 3, 3.14, False, [1, 2, 3])

In [8]:
pi=3.14     # Ondalikli sayilarda "." kullanilir
pi

3.14

In [11]:
pi2= 3,14       # virgul code yazken elemanlari ayirmak icin kullanilir
pi2             # ve burada iki eleman arasina virgul konulursa TUPLE olark algilar--> ()[] vs paranteze gerek yok 
                # fakat code okunabilirligi icin parnatez kullanilmalidir.

(3, 14)

In [12]:
["Techpro"]     # bu bir listedir

['Techpro']

In [13]:
["Techpro",3, 5, False] #liste

['Techpro', 3, 5, False]

In [14]:
("Techpro") #sadece bir String dir- list veya tuple degildir

'Techpro'

In [15]:
("Techpro",)    # Bu bir TUPLE dir, tek elemanli dahi olsa en az bir  ","  konuldugu icin Tuple olark algilar ve devami gelecek diye dusunur

('Techpro',)

In [16]:
(123,)

(123,)

In [18]:
tek_elemanli_tuple= ("Appa",)
len(tek_elemanli_tuple)     # 1 adet elemani vardir

1

In [19]:
type(tek_elemanli_tuple)

tuple

In [20]:
tuple_olmayan = ("Techpro") # --->  "," kullanilmadi
type(tuple_olmayan)

str

In [21]:
tuple_olmayan2= (123.5)     # --->  "," kullanilmadi
type(tuple_olmayan2)

float

In [22]:
type("type elemanidir",)       # type icine direk yazilan eleman type() fonksiyonuna aittir

str

In [23]:
type(("tuple eleman",))     # tuple parantezi icinde tekrar belirtilir ise type ini tuple olarak verir

tuple

In [26]:
type(1,2)

TypeError: type() takes 1 or 3 arguments

In [27]:
type(1,2,3)

TypeError: type.__new__() argument 1 must be str, not int

In [29]:
type("str",2,3)

TypeError: type.__new__() argument 2 must be tuple, not int

In [33]:
type("str",(2,5), 3)

TypeError: type.__new__() argument 3 must be dict, not int

In [35]:
list_1= 4,24,7,3,2,"name",6         # list'lerde mutlaka ()/[] kullanilmalidir, yoksa tuple olark algilar
list_1

(4, 24, 7, 3, 2, 'name', 6)

In [37]:
[1,2,3,5] + [5,8]   #iki ayri listeyi toplayip concat yapabilirz veya * 1 degerr ile carpabiriz vs
[1,2,3,5] * 3

[1, 2, 3, 5, 1, 2, 3, 5, 1, 2, 3, 5]

In [40]:
(1,2,3) + (4,5)     #Tuple da da ayni concat / carpma*(carpilan sayi kadar tekrarlar)islemleri yapilabilir
(1,2,3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [1]:
("Techpro",3,False) + ("Sedat") #tuple olmadigi icin concat yapmadi

TypeError: can only concatenate tuple (not "str") to tuple

In [41]:
("Techpro",3,False) + ("Sedat",)

('Techpro', 3, False, 'Sedat')

## Indexing & Slicing

In [46]:
tuple_3 = ("Aslan", 4, True, ["Tulay", 5,6], ("Zeynep", 2, 3.14))
tuple_3

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [47]:
tuple_3[3]  #listenin 3.indexindeki elemani bir listtir

['Tulay', 5, 6]

In [48]:
tuple_3[0]

'Aslan'

In [53]:
tuple_3[4][2] #4.indexin 2.indexi

3.14

In [52]:
tuple_3

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [51]:
tuple_3[1:4]    # Slicing: 1.indexten baslayip 4.index dahil tum elemanlari yazidirir
                #Slice islemini hangi data type turunde yapiyorsak o type ile dondurur
                #burada donen bir Tuple dir (List'lerde yaparsak list dondurur vs)

(4, True, ['Tulay', 5, 6])

In [57]:
tuple_3[4][2]

3.14

In [56]:
type(tuple_3[4][2])  #--> 3.14   # indexle eleman sectigimizde ise gelen elemanin kendi data type i ile doner

float

In [58]:
tuple_3[3:0]    # 3.idenxt Start point <---  0.index Stop point ve 
                #---> code'u soldan saga dogru calistirir, ilk 0.indexte stop pointi gorur ve bos tuple dondurur

()

In [59]:
tuple_3     #Tuple icine her telden data type'ta eleman alabilir (String, int, Boolean, list, tuple icinde tuple)

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

#----> Tuple lar immutable dir

In [60]:
tuple_3

('Aslan', 4, True, ['Tulay', 5, 6], ('Zeynep', 2, 3.14))

In [65]:
len(tuple_3)

5

In [61]:
tuple_3[0] ="Meltem"     #0.index'ine yeni bir eleman assign ettik ve hata verdi ---> Tuple'in kendisine direk mudahale ettik

TypeError: 'tuple' object does not support item assignment

In [63]:
tuple_3[3].append(7)    #tuple icindeki 3.indexteki list icerisine "7" elemani eklendi
tuple_3                 # tuple kendi eleman sayisi degismedi, altkume olan list icindeki eleman sayisi degisti
                        # tuple hala immutable dir
                        # alt kumeler dis islerde Tuple'a bagli/ ic islerinde bagimsiz gibi dusunebilirz

('Aslan', 4, True, ['Tulay', 5, 6, 7, 7], ('Zeynep', 2, 3.14))

In [64]:
len(tuple_3)

5

In [66]:
tuple_3[0].upper()  # anlik olarak upper/lower case olur bellekte bir degisiklik olmaz

'ASLAN'

In [67]:
tuple_3

('Aslan', 4, True, ['Tulay', 5, 6, 7, 7], ('Zeynep', 2, 3.14))

In [68]:
tuple_3[3].remove(5)
tuple_3                 # tuple icindeki listte degisiklik yapilabilir hatta tamamen bosaltilabilir fakat list elemani silinmez

('Aslan', 4, True, ['Tulay', 6, 7, 7], ('Zeynep', 2, 3.14))

In [69]:
del tuple_3[3]  #3.idenx elemn bir list olmasina ragmen listeyi tamen silmeye izin vermez tuple objesi oldugu icin

TypeError: 'tuple' object doesn't support item deletion

In [71]:
del tuple_3         # tuple tamamini silebilirz fakat icerigi ile oynayamayiz
tuple_3

NameError: name 'tuple_3' is not defined

# Tuple Methods

In [74]:
tuple_4 = (1,3,4,6,2,5,8,9,4)
tuple_4

(1, 3, 4, 6, 2, 5, 8, 9, 4)

In [75]:
tuple_4.count(4)    # iki adet 4 elemani vardir

2

In [76]:
tuple_4.count("Appa")   #'Appa' adinda bir elemani yok--> 0 matematiksel karsilik False 0

0

In [77]:
tuple_4.index(4)    #4.idenxteki elemani 2 dir

2

In [79]:
tuple_4.index(11)   #index out of boundry

ValueError: tuple.index(x): x not in tuple

# range()
#range() fonksiyonu icinde baslangic ve bitis sayilari verilir ve aradaki tum sayilari getirir (start dahil, stop haric)

In [80]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [81]:
range(4,10)

range(4, 10)

In [85]:
list(range(2,8))   #list icine koyunca aradaki sayilari da getirir

[2, 3, 4, 5, 6, 7]

In [84]:
tuple(range(5,8))  #tupe'a cevirmek istersek tuple icinde yazilir

(5, 6, 7)

In [86]:
range(3,9)[4] # 3 ile 9 haric arasindaki tum sayilari olusturdu ve 4.indeki getirdi

7

In [87]:
list(range(10))     # baslangic default degeri 0 dir, bos birakilir ise otomatik olarak sifirdan baslar, verilen degerden once de durur(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
list(range())   #en az 1 argument ister stop noktasi icin

TypeError: range expected at least 1 argument, got 0

In [89]:
list(range(2, 5.5))     # float/double sayi uretmez sadece integer

TypeError: 'float' object cannot be interpreted as an integer

In [91]:
list(range(4, 12,  2))    # (start, stop_haric, artis_miktari)

[4, 6, 8, 10]

In [92]:
list(range(-5,15, 3))   #-5 ile baslar, 3'er artirarak +15'ten once durur

[-5, -2, 1, 4, 7, 10, 13]

In [93]:
list(range(10,2, -1))   # (start 10 / stop_before 2 / geri_sayim -1)

[10, 9, 8, 7, 6, 5, 4, 3]

In [94]:
list(range(2,40, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]