In [1]:
print("hello")

hello

In [2]:
print("'Techpro'")

'Techpro'

In [3]:
print("'")

'

In [4]:
print(""""'""")

"'

In [5]:
print(""""""")

SyntaxError: unterminated string literal (detected at line 1) (3465750001.py, line 1)

In [6]:
print("""""""")

In [8]:
print("""techpro"""'gül'"?"'!')

techprogül?!

In [10]:
print(""""2""")

"2

# pep8 Kuralları

In [ ]:
3 + 6

In [ ]:
print("""Bugün python dersinini ikinci günü. 
      Derse başlarken hoca başladı bir tırnak mevzusuna bi türlü bitmedi. 
      İnşallah başıma bela olmaz """) # pep8 derki; bir satırda 79 karakterden fazlası olmasın

# comment

In [ ]:
3 + 5 # 3 ile 5 in toplamıdır.

In [ ]:
3 + 5 # 3 ile 5

# Variables

In [11]:
print("Techpro education")

Techpro education

In [12]:
course = "Techpro education"

In [13]:
print(course)

Techpro education

In [14]:
print(name)

NameError: name 'name' is not defined

In [17]:
name = "Sedat"

In [16]:
print(name)

Sedat

In [20]:
print(age)

32

In [19]:
age = 32

In [21]:
print(age_1)
age_1 = 35

NameError: name 'age_1' is not defined

In [22]:
age_2 = 35
print(age_2)

35

In [23]:
name_1 = "Orkun"
name2 = "Serhan"

In [24]:
print(name_1)
print(name2)

Orkun
Serhan

In [25]:
pi_number = 3.14

In [26]:
pi-number = 3.14

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2855947407.py, line 1)

In [27]:
name_3 = "Emre"
4_name = "Mikail" # Değişken tanımlarken numeric karakterler başta olamaz.

SyntaxError: invalid decimal literal (1605405948.py, line 2)

In [28]:
$name = "Bahar"

SyntaxError: invalid syntax (3909088492.py, line 1)

In [29]:
name_5 = "Aytaç"
name_6 = "Erkan"
age_3 = 33

In [32]:
print(name_6, name_5, age_3)

Erkan Aytaç 33

In [31]:
print(name_6, name_5 age_3)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3405717067.py, line 1)

In [33]:
name_7, name_8 = "Mustafa", "Ceren"

In [34]:
print(name_7, name_8)

Mustafa Ceren

In [35]:
name_9, name_10 = "Kadir, Betül"

ValueError: too many values to unpack (expected 2)

In [37]:
name_11, name_12 = "Sümeyye", "Sümeyye"

In [38]:
name_13 = name_14 = "Ahmet"

In [39]:
print(name_13, name_14)

Ahmet Ahmet

In [40]:
first_name = "Sedat"
last_name = "Aslan"

In [41]:
f_n = "Sedat"
l_n = "Aslan"

# Data Types

In [42]:
"hello world" #string

'hello world'

In [ ]:
"35" #string

In [43]:
type("hello world")

str

In [44]:
type("35")

str

In [46]:
name

'Sedat'

In [45]:
type(name)

str

In [47]:
age_4 = 25

In [48]:
type(age_4)

int

In [49]:
negative_number = -20

In [50]:
type(negative_number)

int

In [51]:
kesirli_sayı = 5.4

In [52]:
type(kesirli_sayı)

float

In [53]:
type(pi_number)

float

In [54]:
type(2.4)

float

In [55]:
pi_number_2 = 3,14

In [56]:
type(pi_number_2)

tuple

In [57]:
type(3,14)

TypeError: type() takes 1 or 3 arguments

In [59]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

#### boolean

In [60]:
type(False) # matematiksel karşılığı sıfır(0) dır. Yokluğu/hiçliği ifade eder

bool

In [61]:
type(True)  # matematiksel karşılığı bir(1) dir. Varlığı ifade eder.

bool

In [62]:
type(true)

NameError: name 'true' is not defined

In [64]:
print(araba)

Renault

In [65]:
print(araba)

Renault

In [66]:
del araba

In [67]:
print(araba)

NameError: name 'araba' is not defined

In [68]:
araba_2 = "Renault"

In [69]:
print(araba_2)

Renault

In [70]:
araba_2 = "Opel"

In [71]:
print(araba_2)

Opel

In [72]:
arabanın_yaşı = 3

In [73]:
arabanın_kilometresi = 1250.4

In [76]:
arabanın_kazası = False

In [77]:
arabanın_kazası_2 = "False"

In [78]:
type(arabanın_kazası)

bool

In [79]:
type(arabanın_kazası_2)

str

In [80]:
araba_3 = "citroen"

In [ ]:
araba_3 = "ford"

In [81]:
print(araba_3)

citroen

In [ ]:
del araba_3