# Type Conversion

#### All types to str

In [1]:
age = 32
type(age)

int

In [2]:
str(age)

'32'

In [3]:
type(age)

int

In [4]:
age = str(age)

In [5]:
type(age)

str

In [6]:
str(3.14)

'3.14'

In [7]:
str(True)

'True'

In [1]:
pi_number = 3.14
type(pi_number)

float

In [2]:
str(pi_number)

'3.14'

In [3]:
type(pi_number)

float

In [4]:
pi_number = str(pi_number)

In [5]:
type(pi_number)

str

#### str to int

In [6]:
age_1 = "33"
type(age_1)

str

In [7]:
int(age_1)

33

In [8]:
type(age_1)

str

In [9]:
2024 - age_1

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [10]:
2024 - int(age_1)

1991

In [11]:
age_1 = int(age_1)

In [12]:
2024 - age_1

1991

In [13]:
int("32a")

ValueError: invalid literal for int() with base 10: '32a'

In [14]:
int("-30")

-30

#### str to float

In [15]:
float("3.14")

3.14

In [16]:
float("3.14a")

ValueError: could not convert string to float: '3.14a'

#### float to int, int to float

In [17]:
int(5.4)

5

In [18]:
int(5.6)

5

In [19]:
int(5.999999999)

5

In [20]:
int(5.999999999999999)

5

In [21]:
int(5.9999999999999999)

6

In [25]:
int(5.9999999999999995)

5

In [22]:
int(22/7)

3

In [26]:
float(5)

5.0

In [27]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

In [28]:
float("3.14")

3.14

In [29]:
int(float("3.14"))

3

#### bool to int, bool to float

In [30]:
int(True)

1

In [31]:
int(False)

0

In [32]:
float(True)

1.0

In [33]:
float(False)

0.0

In [34]:
str(False)

'False'

# Arithmetic Operators

In [35]:
3 + 5

8

In [36]:
9 - 4

5

In [37]:
8 * 5

40

In [38]:
40 / 10

4.0

In [39]:
40 / 7

5.714285714285714

In [40]:
2.4 * 5

12.0

In [41]:
25 / 3 # division

8.333333333333334

In [42]:
25 // 3 # floor division

8

In [43]:
25 % 3 # modulus

1

In [44]:
2 ** 3

8

In [45]:
5 ** 2

25

In [46]:
3 % 2

1

In [47]:
6 % 2

0

In [48]:
25 ** 0.5 # 1 / 2

5.0

In [49]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2)
print(x)

36.0

In [50]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2)
x

36.0

In [51]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2)

In [52]:
25 ** 1 / 2

12.5

In [53]:
25 ** (1 / 2)

5.0

yarıçapı 7 olan bir dairenin alanını bulan python kodunu yazın. pi = 3.14

In [55]:
r = 9
pi = 3.14
alan = pi * (r ** 2)

print("yarıçapı 9 olan dairenin alanı:", alan)

yarıçapı 9 olan dairenin alanı: 254.34

In [56]:
r = 7
pi = 3.14
alan = pi * (r ** 2)
r = 5
print("yarıçapı 5 olan dairenin alanı:", alan)

yarıçapı 5 olan dairenin alanı: 153.86

In [57]:
r = 7
pi = 3.14
alan = pi * (r ** 2)
r = 5
alan = pi * (r ** 2)
print("yarıçapı 5 olan dairenin alanı:", alan)

yarıçapı 5 olan dairenin alanı: 78.5

In [58]:
age = 32
age = 34
age = 45
print(age)

45

In [59]:
age = 32, name = "sedat"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (469012240.py, line 1)

In [60]:
age, name = 32 , "sedat"

In [61]:
r = 9
pi = 3.14
alan = pi * (r ** 2)

print("yarıçapı 9 olan dairenin alanı:", int(alan))

yarıçapı 9 olan dairenin alanı: 254

In [62]:
r = 9
pi = 3.14
alan = pi * (r ** 2)

print(int("yarıçapı 9 olan dairenin alanı:", alan))

TypeError: 'float' object cannot be interpreted as an integer

### bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan python kodunu yazın.