In [3]:
print("Merhaba Dünya!")

Merhaba Dünya!

In [4]:
print(Merhaba Dünya)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (997940271.py, line 1)

In [5]:
print("Merhaba Dünya')

SyntaxError: unterminated string literal (detected at line 1) (2742507301.py, line 1)

In [6]:
Print("merhaba dünya")

NameError: name 'Print' is not defined

In [7]:
print('merhaba')

merhaba

In [8]:
print(""merhaba"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3836089957.py, line 1)

In [9]:
print("""merhaba""")

merhaba

In [10]:
print("""merhaba"""")

SyntaxError: unterminated string literal (detected at line 1) (1350358434.py, line 1)

In [11]:
print("hello"+"world")

helloworld

In [12]:
print("hello" + " world")

hello world

In [13]:
print("hello", "world")

hello world

In [14]:
print("hello" * 10)

hellohellohellohellohellohellohellohellohellohello

# variables

In [15]:
name = "Ahmet"

In [16]:
print(name)

Ahmet

In [17]:
ahmetAge = 25

In [18]:
mehmet_age = 30

In [19]:
print(ahmetAge, mehmet_age)

25 30

In [20]:
2mehmet_age = 19

SyntaxError: invalid decimal literal (1916676597.py, line 1)

In [22]:
mehmet_2_age = 19

In [23]:
3_kilo_elma = 5

SyntaxError: invalid decimal literal (171871228.py, line 1)

In [24]:
elma = 5
elma_3 = 5

In [25]:
turkiye_buyuk_millet_meclisi_milletvekili_sayisi = 600

In [26]:
print(turkiye_buyuk_millet_meclisi_milletvekili_sayisi)

600

In [27]:
tbmm_mv_sayisi = 600

In [28]:
+deger = 5

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3897903837.py, line 1)

In [29]:
_deger = 5

In [30]:
print(_deger)

5

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del',
'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal',
'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [31]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [32]:
name-5 = "ömer"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (189569407.py, line 1)

In [33]:
a = 20
b = 20
c = 20

In [34]:
print(a, b, c)

20 20 20

In [35]:
a = b = c = 30

In [36]:
print(a, b, c)

30 30 30

In [124]:
kisi_1 = "Müdür"
kisi_2 = "koordinatör"

In [127]:
degisim = ""
degisim = kisi_1
kisi_1 = kisi_2
kisi_2 = degisim
print("kişi1: ", kisi_1, "kişi2: ", kisi_2, sep="\n")

kişi1:
koordinatör
kişi2:
Müdür

In [38]:
kisi_1, kisi_2 = kisi_2, kisi_1

In [39]:
print ("1. kişi = " + kisi_1, "2. kişi = " + kisi_2, sep="\n")

1. kişi = koordinatör
2. kişi = Müdür

In [40]:
kisi_1 = "koordinatör"
kisi_2 = "müdür"
konteyner = ""

# gerek yok

In [41]:
print ("1. kişi = " + kisi_1, "2. kişi = " + kisi_2, sep="\n")

1. kişi = koordinatör
2. kişi = müdür

In [42]:
kisi_1 = kisi_2

In [43]:
ahmet, mehmet = mehmet, ahmet

NameError: name 'mehmet' is not defined

In [44]:
print("Ahmet = " + ahmet, "Mehmet = " + mehmet, sep="\n")

NameError: name 'ahmet' is not defined

# Data *Types*

In [45]:
ahmet = "müdür"

In [46]:
print(type(ahmet))

<class 'str'>

In [47]:
print(type(3))

<class 'int'>

In [48]:
pi = 3.14

In [49]:
print(type(pi))

<class 'float'>

In [50]:
type(False)

bool

In [51]:
a = [5 , 6, 7]

In [52]:
type(a)

list

# Type Conversion

In [53]:
type(35)

int

In [54]:
str(35)

'35'

In [55]:
type(str(35))

str

In [56]:
type(float(int("25")))

float

In [57]:
x = False
y = True
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [128]:
mehmet = 65
ahmet = 55
ayse = 45

In [133]:
print("Mehmet: ", mehmet, "\nAhmet: ", ahmet, "\nAyşe: ", ayse)

Mehmet:  65
Ahmet:  55
Ayşe:  45

In [134]:
ayse = "Öğretmen"
veli = "Müdür"
ahmet = "müdür yardımcısı"

In [135]:
ayse, veli, ahmet = ahmet, ayse, veli

In [136]:
print(ayse, veli, ahmet)

müdür yardımcısı Öğretmen Müdür

# Aritmetic Operations

In [58]:
3 + 5

8

In [59]:
3 + 5.0

8.0

In [60]:
8 - 2.4

5.6

In [61]:
14 / 7

2.0

In [62]:
14 / 3

4.666666666666667

In [63]:
22 / 7

3.142857142857143

In [64]:
22 // 7

3

In [65]:
print(22 / 7, 2)

3.142857142857143 2

In [66]:
20 % 3

2

In [67]:
4 ** 3

64

In [68]:
4.0 ** 3

64.0

In [69]:
4 ** 3.0

64.0

# işlem önceliği
1. parantez içi
2. üs alma
3. çarpma bölme
4. toplama çıkarma

In [70]:
x = (2 * 1.5) ** (8 ** (1 * 2 / 2) / 2)

In [72]:
print(x)

81.0

In [73]:
y = 25 ** 1 / 2
z = 25 ** (1 / 2)

print(y)
print(z)

12.5
5.0

In [74]:
x = 5
x = 5 + 3
x = x + 3

x += 3

print(x)

14

In [75]:
2345 + 54355

56700

In [76]:
_

56700

In [77]:
_ + 15

56715

# print() function

In [78]:
print("apple", "banana", "orange")

apple banana orange

In [79]:
print("apple", "banana", "orange", sep="-")

apple-banana-orange

In [80]:
print("apple", "banana", "orange", sep="?")

apple?banana?orange

In [81]:
print("apple", "banana", "orange", sep="   ")

apple   banana   orange

In [82]:
print("apple", "banana", "orange", sep="\n")

apple
banana
orange

In [83]:
print("apple", "banana", "orange", sep="\t")

apple	banana	orange

In [84]:
print("apple", "banana", "orange", sep="\b")

applbananorange

In [85]:
print("b", "e", "ş", "i", "k")

b e ş i k

In [86]:
print(*"beşik")

b e ş i k

In [87]:
print(*"TBMM", sep=".")

T.B.M.M

In [88]:
print("TBMM", "meclis", sep=".")

TBMM.meclis

In [89]:
print(*"abcsişflfdksdglkrjfdkgdfgdfg", sep="-")

a-b-c-s-i-ş-f-l-f-d-k-s-d-g-l-k-r-j-f-d-k-g-d-f-g-d-f-g

# Escape Sequences

In [90]:
print('I'm a student')

SyntaxError: unterminated string literal (detected at line 1) (1608962133.py, line 1)

In [91]:
print('I\'m a student')

I'm a student

In [92]:
print("I'm a student")

I'm a student

In [93]:
print("I am a \"student\"")

I am a "student"

In [94]:
print(r'I\'m a student')

I\'m a student

# ***round()***

In [ ]:
round(24.1)

In [ ]:
round(24.5)

In [ ]:
round(24.6)

In [ ]:
round(25.5)

In [ ]:
round(34.5, 0)

In [ ]:
round(130.666, 1)

In [ ]:
round(130.666, 2)

In [ ]:
round(130.666, -1)

In [ ]:
round(130.666, -2)

In [ ]:
round(130.666, -3)

In [ ]:
round(130.666, -2000)

In [ ]:
round(530.666, -3)

In [ ]:
pi = 22 / 7
pi

In [ ]:
round(pi)

In [ ]:
round(pi, 0)

In [ ]:
round(pi, 4)

In [ ]:
round(500.000, -3) 000.000

In [ ]:
round(500.001, -3) 1000.00

# Comporison Operators

>, <, <=, >=, !=, ==

In [95]:
9 > 8

True

In [96]:
true = 5
print(true)

5

In [97]:
9 >= 9

True

In [98]:
4 < 6

True

In [99]:
4 <= 6

True

In [100]:
7 == 7

True

In [101]:
7 == 8

False

In [102]:
7 != 8

True

In [103]:
a = 20
b = 20
a is b

True

# Boolean

In [104]:
bool("125")

True

In [105]:
bool(125)

True

In [106]:
bool(False)

False

In [107]:
bool("False")

True

In [108]:
bool("")

False

In [109]:
bool([])

False

In [110]:
bool("[]")

True

In [111]:
bool("                                ")

True

In [112]:
bool(0)

False

In [113]:
bool("0")

True

In [114]:
bool(not True)

False

In [115]:
print(bool(False),
bool(None),
bool(0),
bool(""),
bool(()),
bool([]),
bool({}), 
sep="\n")

False
False
False
False
False
False
False

# Logic Expressions

not, and, or

|               işlem önceliği                      |
|---------------------------------------------------|
|1 - not  -- işlem sonucu daima True veya False tur.|
|2 - and                                            |
|3 - or                                             |

# *and*

Tüm logic ifadelerin hepsi True ise en son(sağdaki) değeri döndürür. Bir tane bile False varsa o False değerini döndürür. Birden fazla False değerinden ilk rastgeldiği ***False*** değerini döndürür.

# or 

Tüm logic ifadelerin hepsi False ise en son değeri (sağdaki) döndürür. Bir tane bile True varsa o True değerini döndürür. Birden fazla True değerinden ilk ***True*** değerini döndürür.

In [116]:
5 and 8 or 9

8

In [117]:
True or not 0 and "logic"

True

In [118]:
"logic" or True and not 0

'logic'

In [119]:
not 0 and True and "True" or 0

'True'

In [120]:
not 1 and 0 or 1

1

In [121]:
(1 and not 1) or (1 and 1)

1

In [122]:
(1 and not 0) or (1 and 0)
# 1 and True  or      0

True

In [123]:
(not 0 or 1) and (1 or 0)
#True or 1 and 1

1

# strings

In [ ]:
"techpro"

In [ ]:
"techpro"[1:6]

In [ ]:
"techpro"[4:]

In [ ]:
"techpro"[-3:]

In [ ]:
"techpro"[-3::2]

In [ ]:
"techpro"[-3::-1]

In [ ]:
"techpro"[-3:-4:-2]

In [ ]:
"techpro"[-3:-2:-2]