# Pandas Series
A one-dimensional labeled array capable of holding any data type in Python
<br><b>Basic Syntax</b>: x = pd.Series(data, index)

## <u>Libraries</u>

In [1]:
import pandas as pd

## <u>How to Make a Pandas Series

### List

In [3]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday']

In [5]:
days_series= pd.Series(data = days)
days_series

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
dtype: object

In [6]:
index_labels ={4,6,2,7}

In [8]:
days_series2 = pd.Series(data= days, index= index_labels)
days_series2

2       Monday
4      Tuesday
6    Wednesday
7     Thursday
dtype: object

In [9]:
days_series3 = pd.Series(days, index_labels)    # assign edilemse de birinciyi data, ikinciyi index label olarak gorur. 
days_series3

2       Monday
4      Tuesday
6    Wednesday
7     Thursday
dtype: object

In [13]:
days_series4 = pd.Series(index_labels,days)    # yerleri degistirilemiyor gorduk 
days_series4

TypeError: 'set' type is unordered

### Dictonary

In [14]:
groceries ={'bananas': 3, 'oranges': 2, 'apples': 5}
groceries

{'bananas': 3, 'oranges': 2, 'apples': 5}

In [15]:
groceries_series =pd.Series(groceries)
groceries_series

bananas    3
oranges    2
apples     5
dtype: int64

## <u>Accessing Values

In [16]:
groceries_series['oranges'] # key gorunumlu index label kullanilir

2

In [18]:
days_series

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
dtype: object

In [17]:
days_series[1]

'Tuesday'

## <u>Slicing a Series

In [19]:
days_series

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
dtype: object

In [24]:
days_series[1:3]    # stop point haric

1      Tuesday
2    Wednesday
dtype: object

In [22]:
groceries_series

bananas    3
oranges    2
apples     5
dtype: int64

In [23]:
groceries_series['bananas':'apples'] # labelindexlerde ise start-stop dahildir

bananas    3
oranges    2
apples     5
dtype: int64

## <u>Adding Series Together

In [25]:
groceries_series2= pd.Series([2,4,5,3], ['bananas', 'oranges', 'apples', 'Mango'])
groceries_series2

bananas    2
oranges    4
apples     5
Mango      3
dtype: int64

In [27]:
all_groceries = groceries_series + groceries_series2
all_groceries

Mango       NaN
apples     10.0
bananas     5.0
oranges     6.0
dtype: float64

In [28]:
all_groceries['veggies'] = 15
all_groceries

Mango       NaN
apples     10.0
bananas     5.0
oranges     6.0
veggies    15.0
dtype: float64

## <u>Applying Functions

In [29]:
groceries_series

bananas    3
oranges    2
apples     5
dtype: int64

In [30]:
groceries_series.add(5) # hepsine 5 ekledi , kayit etmez

bananas     8
oranges     7
apples     10
dtype: int64

In [33]:
gsPlus5 =groceries_series.add(5) 
gsPlus5

bananas     8
oranges     7
apples     10
dtype: int64

In [34]:
groceries_series.min()

2

In [35]:
groceries_series.max()

5

In [36]:
groceries_series.sum()

10

In [37]:
groceries_series.unique()

array([3, 2, 5], dtype=int64)

In [38]:
groceries_series.sort_index()

apples     5
bananas    3
oranges    2
dtype: int64

In [40]:
groceries_series.sort_values()

oranges    2
bananas    3
apples     5
dtype: int64

## <u>Missing Values

In [41]:
all_groceries

Mango       NaN
apples     10.0
bananas     5.0
oranges     6.0
veggies    15.0
dtype: float64

In [42]:
all_groceries.isnull()

Mango       True
apples     False
bananas    False
oranges    False
veggies    False
dtype: bool

In [43]:
all_groceries.notnull()

Mango      False
apples      True
bananas     True
oranges     True
veggies     True
dtype: bool

In [45]:
all_groceries.fillna(999)

Mango      999.0
apples      10.0
bananas      5.0
oranges      6.0
veggies     15.0
dtype: float64

In [49]:
all_groceries.replace(15, 15555)

Mango          NaN
apples        10.0
bananas        5.0
oranges        6.0
veggies    15555.0
dtype: float64

## <u>Convert to Other Types

In [50]:
all_groceries.to_dict()

{'Mango': nan, 'apples': 10.0, 'bananas': 5.0, 'oranges': 6.0, 'veggies': 15.0}

In [52]:
all_groceries.to_list()

[nan, 10.0, 5.0, 6.0, 15.0]

In [54]:
all_groceries.to_frame(name= 'amount')

         amount
Mango       NaN
apples     10.0
bananas     5.0
oranges     6.0
veggies    15.0

In [56]:
all_groceries.to_excel('1Exported_groceriesList_toExcel.xlsx')